[submodule "programs/snapshot"]
	path = programs/snapshot
	url = https://github.com/EOSIO/genesis.git
[submodule "libraries/python"]
	path = libraries/python
	url = https://github.com/learnforpractice/cpython
	branch = v3.6.4-cmake
[submodule "libraries/ethereum"]
       path = libraries/ethereum
       url = https://github.com/learnforpractice/cpp-ethereum
       branch = develop
[submodule "libraries/micropython"]
	path = libraries/micropython
	url = https://github.com/learnforpractice/micropython
	branch = master
[submodule "contracts/musl/upstream"]
	path = contracts/musl/upstream
	url = https://github.com/EOSIO/musl.git
	branch = eosio
[submodule "contracts/libc++/upstream"]
	path = contracts/libc++/upstream
	url = https://github.com/EOSIO/libcxx.git
	branch = eosio
[submodule "externals/binaryen"]
	path = externals/binaryen
	url = https://github.com/EOSIO/binaryen
[submodule "libraries/softfloat"]
	path = libraries/softfloat
	url = https://github.com/eosio/berkeley-softfloat-3
[submodule "externals/magic_get"]
	path = externals/magic_get
	url = https://github.com/EOSIO/magic_get
[submodule "libraries/python-single-thread"]
	path = libraries/python-single-thread
	url = https://github.com/learnforpractice/cpython
	branch = python-v3.6.3-single-thread
