[submodule "programs/snapshot"]
	path = programs/snapshot
	url = https://github.com/EOSIO/genesis.git
[submodule "libraries/python"]
	path = libraries/python
	url = https://github.com/learnforpractice/cpython
	branch = v3.6.4-cmake
[submodule "libraries/ethereum"]
       path = libraries/ethereum
       url = https://github.com/learnforpractice/cpp-ethereum
       branch = develop-eos
[submodule "libraries/vm_py"]
	path = libraries/vm_py
	url = https://github.com/learnforpractice/micropython
	branch = master
[submodule "contracts/musl/upstream"]
	path = contracts/musl/upstream
	url = https://github.com/EOSIO/musl.git
	branch = eosio
[submodule "contracts/libc++/upstream"]
	path = contracts/libc++/upstream
	url = https://github.com/EOSIO/libcxx.git
	branch = eosio
[submodule "externals/binaryen"]
	path = externals/binaryen
	url = https://github.com/learnforpractice/binaryen
	branch = eosio
[submodule "libraries/softfloat"]
	path = libraries/softfloat
	url = https://github.com/eosio/berkeley-softfloat-3
[submodule "externals/magic_get"]
	path = externals/magic_get
	url = https://github.com/EOSIO/magic_get
[submodule "programs/goeos/src/github.com/learnforpractice/panicwrap"]
	path = programs/goeos/src/github.com/learnforpractice/panicwrap
	url = https://github.com/learnforpractice/panicwrap
[submodule "programs/goeos/src/github.com/kardianos/osext"]
	path = programs/goeos/src/github.com/kardianos/osext
	url = https://github.com/kardianos/osext
[submodule "libraries/chainbase"]
	path = libraries/chainbase
	url = https://github.com/learnforpractice/chainbase
[submodule "libraries/appbase"]
	path = libraries/appbase
	url = https://github.com/learnforpractice/appbase
[submodule "libraries/fc"]
	path = libraries/fc
	url = https://github.com/learnforpractice/fc
