[submodule "libraries/chainbase"]
	path = libraries/chainbase
	url = https://github.com/eosio/chainbase
        ignore = dirty
[submodule "programs/snapshot"]
	path = programs/snapshot
	url = https://github.com/EOSIO/genesis.git
[submodule "libraries/python"]
	path = libraries/python
	url = https://github.com/learnforpractice/cpython
	branch = v3.6.3-for-pyeos
[submodule "libraries/tinypy"]
        path = libraries/python
        url = https://github.com/learnforpractice/cpython
        branch = tinypy
[submodule "libraries/micropython"]
	path = libraries/micropython
	url = https://github.com/learnforpractice/micropython
